
/* -- Global & Variables -- */
:root {
    --primary-color: #ff0000;
    --primary-dark-color:#8c0000;
    --secondary-color: #00d704;
    --accent-color-1: #e944ff; /* Midabka guduudan */
    --accent-color-2: #00f7ff; /* Midabka buluugga ah */
    --dark-bg: #121212;
    --main-bg: #1c1c1c;
    --card-bg: #2a2a2a;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --border-color: #3e3e3e;
    --sidebar-width: 250px;
    --header-height: 70px;
    --border-radius-base: 8px;
    --box-shadow-base: 0 4px 10px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.dashboard1{
   display: flex;
   min-height: 100vh;
}

.sidebar{
background: var(--dark-bg);
width: 16%;
}

.side-head{
    display: flex;
    align-items: center;
    padding: 10px;
}

.side-head img{
border-radius: 50%;

}
.side-head h1{
color: wheat;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-menu ul{
list-style: none;
}
.sidebar-menu li{
margin-top: 20px;
padding: 7px 45px;
border-radius: 10px;
color: wheat;
cursor: pointer;
transition: background-color 0.3s ease;
font-size: 1.2rem;
}

.sidebar-menu li:hover{
    background-color: var(--border-color);
    color: #f1f1f1;
}

.sidebar-menu li:first-child{
        background-color: var(--border-color);
       color: #f1f1f1;
}

.sidebar-menu ul button{
margin-top: 220px;
padding: 7px 45px;
border-radius: 10px;
background-color: var(--primary-dark-color);
color: #bbbbbb;
font-size: 1.2rem; 
cursor: pointer;
width: 100%;
}

.sidebar-menu ul button:hover{

    background-color: var(--primary-color);
    color: #bbbbbb;
}
.sidebar-menu p{
   margin-top: 7px;
padding: 7px 45px;
color: wheat; 
}

/*  main dashbord */
.main-dashboard{

background: var(--card-bg);
width: 85%;
}

.main-dashboard h4{
    margin: 10px;
    color: wheat;
}
.dashboard-header{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--border-color);
    border-radius: 10px;
}
.dashboard-header h1{
    color: wheat;
}

.search-box-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box-cont input{
 padding: 7px 25px;
 border-radius: 10px;
 background-color: var(--border-color);
 color: wheat;
}

.search-box-cont button{
 padding: 7px 15px;
 border-radius: 10px;
 background-color: wheat;
 color: #000;
 font-size: 1.2rem;

}
.account-type-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-type-cont select{
    padding: 8px 15px;
    background-color: var(--card-bg);
    border-radius: 10px;
    color: wheat;
    font-size: 1.2rem;
}
.account-type-cont label{
    color: wheat;
    font-size: 1.2rem;
}

.dashboard-cards{
border-radius: 10px;
margin: 10px;
padding: 10px;
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 10px;
background-color: var(--border-color);
height: 120px;
}

.Overview-cards{
width: 100%;
background-color: var(--card-bg);
border-radius: 10px;
}

.dashboard-contents{
    background-color: var(--border-color);
    border-radius: 10px;
    height: 55vh;
    margin: 10px;
}
