:root {
    --dark-blue-background: rgb(81, 81, 225);
    --darkest-blue-backgrund: rgb(68, 68, 189);
    --ligh-blue-background: rgb(99, 99, 249);
    --button-background: rgb(111, 111, 255);
    --light-font-color: rgb(222, 222, 255);
}

body {
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--dark-blue-background);
    color: var(--light-font-color);
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--darkest-blue-backgrund);
    width: 100%;

}

.right-side {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.right-side img {
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(255, 227, 227, 0.721);
   width: 50px;
   height: 50px;

}

.name-box {
    line-height: 0;
}


.left-side {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.left-side nav {
    display: flex;
    align-items: center;
}

.left-side nav a {
    gap: 10px;
    text-decoration: none;
    padding: 9px 15px;
    color: var(--light-font-color);
    font-size: 1.5rem;
}

.left-side nav a:hover {
    text-decoration: underline;
    color: var(--light-font-color);

}

.left-side img{
    width: 40px;
    height: 40px;
}


.left-side img:nth-child(2) {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.358);
    padding: 5px 5px;
    transition: background-color 0.3s ease-in-out;
    transform: translateY(-25px) scale(1.02);
}

.left-side img:nth-child(2):hover {
    background-color: rgb(179, 179, 179);
}


/**/
.hero-section {
    height: 90vh;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    background-color: var(--darkest-blue-backgrund);

}

.main-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 75%;

    flex-wrap: wrap;
}

.main-rate {
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgb(255, 255, 255);
    background-color: var(--ligh-blue-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 45%;
    height: 80%;
}

.Exchange-rate {
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgb(255, 255, 255);
    background-color: var(--ligh-blue-background);
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80%;
    width: 45%;

}

.bottom-main {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Exchange-list {
    width: 45%;
    box-shadow: 0px 2px 4px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: var(--ligh-blue-background);
    text-align: center;
}

.pridiction-content {
    width: 45%;
    box-shadow: 0px 2px 4px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: var(--ligh-blue-background);
    text-align: center;
}

@media screen and (max-width:900px) {

    .left-side img{
    width: 25px;
    height: 25px;
}

    .hero-section {
        height: auto;
        min-height: 100vh;

    }




    .main-rate {
        width: 90%;
    }

    .Exchange-rate {

        width: 90%;

    }

    .Exchange-list {
        width: 90%;
    }

    .pridiction-content {
        width: 90%;
    }

    .right-side img {
   width: 30px;
   height: 30px;

}

    .left-side nav a {
    gap: 3px;
    padding: 3px 7px;
    font-size: 1rem;
}

.name-box h1{
    font-size: 1rem;
}

.name-box p{
    font-size: 0.5rem;
}

}