:root{
--primart-color:rgb(255, 90, 90);
--secondary-color:rgb(0, 0, 121);
--black-color:black;
--white-color:white;
}



body {

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;

}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,h2{
  margin: 10px;
  text-align: center;
  font-size: 2.5rem;
}

.above-header{
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 1rem;
  padding: 10px;
  text-align: center;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 10px;
  background-color: var(--white-color);
  width: 100%;
}

.rightside{
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-name img{
  border-radius: 50px;
}


.under-desk ul{
  display: flex;
  align-items:center;
  font-size: 0.7rem;
  gap: 10px;
  list-style: none;
}

nav{
  display: flex;
  gap: 15px;
}

nav a{
  text-decoration: none;
  font-size: 1.5rem;
}

.search-box-cont label, input{
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1.5rem;
}




.main-content{
  background: linear-gradient(
   178deg,
    rgb(255, 255, 255) 15%,
    rgb(255, 169, 104) 75%,
    rgb(255, 255, 255) 76%,
    white 80%
  );
  background-repeat: no-repeat;
  background-attachment:local;
  height: 80vh;
  margin-top: 90px;
}

.main-content h2{
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  font-size: 2.9rem;
}

.main-content p{
margin-top: 50px;
  text-align: center;
  font-size: 1.8rem;
}

.detail-icons{
display: flex;
justify-content: space-around;
align-items: center;
margin: 20px;
margin-top: 30px;
}

.items-details{
font-weight: bold;
font-size: 1.5rem;

}

.button-icons{
  margin: 50px;
  margin-top: 20px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2rem;
  text-align: center;

}

.items-detail{
border: 1px solid black;
border-radius: 10px;
padding: 12px 15px;
cursor: pointer; 
 margin-top: 120px;
}

.Courses-content{
  margin: 50px;
  display: grid;
  grid-template-columns: auto  auto auto;
  gap: 20px;
  text-align: center;
  border-radius: 1px solid black;
   margin-top: 90px;
}

.course-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 2px 4px;
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
}

.course-item h2{
font-size: 1.2rem;
}

.course-item p{
font-size: 1rem;
}
.course-item img{
  width: 100%;
  height: 270px;
  border-radius: 10px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.buttons button{
  margin: 10px;
  padding: 8px 25px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(80, 153, 255);
  color: var(--white-color);
  font-size: 1.2rem;
}

.buttons button:first-child{
  background-color: rgb(116, 75, 0);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2f2f2;
}
