

body{
background-color: rgb(30, 30, 30);
line-height: 1.6;
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-head1 h1{
    margin-left: 150px;
    color: rgb(248, 248, 0);
    font-size: 2rem;
}

.side-head2 a {
    margin: 10px;
    color: rgb(248, 248, 0);
    font-size: 1.5rem;
}

.side-head3 {
    margin-right: 150px;
}


.side-head3 button {
    color: rgb(248, 248, 0);
    font-size: 1rem;
    border-radius: 15px;
    background-color: rgb(46, 46, 46);
    padding: 12px 15px;
    border: none;
}

.side-head3 button:first-child{
    background-color: rgba(255, 109, 72, 0.445);
    color:  rgb(255, 98, 58);
    font-weight: bold;
}

.main-content{
    margin-top: 150px;
    justify-content: center;
 text-align: center;
 height: 70vh;

}

.main-content h2{
    font-size: 4rem;
      color: rgb(248, 248, 0);
}

.main-content p{
    font-size: 2rem;
      color: rgb(248, 248, 0);
}


.main-content textarea{

       background-color: rgb(46, 46, 46);
       color: aliceblue;
       padding: 12px 15px;
       width: 50%;
       height: auto;
       border-radius: 15px;
       font-size: 1.2rem;
       margin-top: 20px;
}


footer{
    margin: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  width: 100%;
  align-self: center;
   color: beige;
}

footer ul{
    display: flex;
    align-items: center;
    gap: 25px;
    text-align: center;
}